h1 {
    color: rgb(31, 200, 81);
    text-align: center
}

* {
    box-sizing: border-box;
    margin: 0;
}

p {
    font-family: monospace;
}

.endtext {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

body {
  background-color: black;
min-height: 100vh;
    color: white;

}

li {
    border: 1px solid orange;
    margin-top: 50px;

}
